@import "../../styles/mixins";
@import "../../styles/variables";

.container.output {
  @include flexy($just: space-between, $dir: row)
}
.text-field {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 2px;
  @include text-decoration($color-bright, $color-muted);
  @include font-size($h2-font-sizes);
  &::placeholder {
    letter-spacing: .8px;
    font-size: .75em;
    @include text-decoration($color-dark);
  }
}
.copyMessage {
  @include text-decoration();
  @include font-size($bodyXS-font-sizes);
  margin-right: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.copyMessage.show {
  opacity: 1;
  .error {
    @include text-decoration($color-orange);
  }
}

