@import '../../styles/mixins';
@import '../../styles/variables';

.main {
  @include flexy($just: space-between, $algn: normal);
}
.main h2 {
  @include text-decoration(#e9e6e6);
}
.item-wrapper {
  margin: 10px auto;
}
.item-wrapper label {
  @include flexy($dir: row, $just: flex-start);
  gap: 20px;
  h3 {
    @include text-decoration($color-muted);
    &.current {
      animation: scaleUp .5s ease-in;
    }
  }
}
.item-wrapper input[type="checkbox"] {
  @include flexy();
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 1.6px solid rgba(238, 233, 230, 0.4);
  box-shadow:rgba(238, 233, 230, 0.9);
  border-radius: 2px;
  transition: all .2s ease-out;
  &:hover{
    transform: scale(1.05);
    border: 1.6px solid rgba(238, 233, 230, 0.8);
    background:linear-gradient(to top, rgba(134, 217, 153, 0.85) 20% ,rgba(159, 211, 171, 0.55), rgba(187, 223, 196, 0.4));
  }
  &:checked{
    background:linear-gradient(to top, rgba(134, 217, 153, 0.85) 40%,rgba(142, 206, 157, 0.75), rgba(187, 223, 196, 0.4));
    position: relative;
    &::before{
      content: ' ';
      display: block;
      background-image: url('../../assets/check-icon.svg');
      background-size: cover;
      width: 10px;
      height: 10px;
    }
    & + h3 {
      @include text-decoration(#3b3445);
    }
  }

}

@keyframes scaleUp{
0% {
  transform: scale(1)
}
50% {
  transform: scale(1.05)
}
100% {
  transform: scale(.95)
}
}

.lengthValue {
  @include flexy($disp: inline-flex);
  @include font-size($h2-font-sizes);
  @include text-decoration();
  width: 1.7em;
  height: 1.7em;
  border-radius: 6px;
  border: 1px solid rgba(199, 206, 200, 0.75);
  background-color:rgba(142, 206, 157, 0.75);
}
.sliderContainer {
  @include flexy($just: space-between);
  gap: 15px;
}
