@import "../../styles/mixins";
@import "../../styles/variables";
@import "../UI/Button.scss";

.container.output {
  @include flexy($just: space-between, $dir: row)
}
.text-field {
  width: 80%;
  height: 100%;
  @include font-size($h2-font-sizes);
  &::placeholder {
    @include text-decoration($color-muted);
  }
}

.copyMessage {
  @include text-decoration();
  @include font-size($bodyS-font-sizes);
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.copyMessage.show {
  opacity: 1;
}

