@import "../../styles/mixins";
@import "../../styles/variables";
@import "../UI/Button.scss";

.container.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-field {
  width: 80%;
  height: 100%;
  @include font-size($h2-font-sizes);
}

.copyMessage {
  @include text-decoration();
  @include font-size($bodyS-font-sizes);
  margin-right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.copyMessage.show {
  opacity: 1;
}

