@mixin font-size($font-sizes-map) {
  @each $breakpoint, $font-size in $font-sizes-map {
    @if $breakpoint == null {
      font-size: $font-size;
    }
    @else {
      @media screen and (min-width: $breakpoint) {
        font-size: $font-size;
      }
    }
  }
};

@mixin container-size($cont-sizes-map) {
  @each $screen-size, $container-size in $cont-sizes-map {
    @if $screen-size == null {
      width: $container-size
    }
    @else {
      @media screen and (min-width: $screen-size) {
        width: $container-size
      }
    }
  }
};

@mixin text-decoration($color: #535790, $shadow: rgba(209, 195, 182, 0.4)) {
  color: $color;
  text-shadow: 1px 1px 2px $shadow;
}

@mixin flexy(
  $disp:flex, 
  $dir: column, 
  $just: center, 
  $algn: center) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $algn;
}

@mixin create-gradient($dir: -45deg) {
  background-image: linear-gradient(
    $dir,
    rgba(148, 129, 112, 0.55),
    rgba(100, 126, 156, 0.85),
    rgba(134, 114, 150, 0.6),
    rgba(153, 126, 98, 0.6)
  );
}