$color-dark: #535790;
$color-bright: #F6F8F6;
$color-muted: rgb(121, 120, 129);
$color-grey: rgb(151,151,151);
$color-sky-blue: #6DCCE6;
$color-purple: #876DE6;
$color-orange: rgb(168, 112, 63);
$color-blue: rgb(35, 106, 186);
$color-light-blue: lighten($color-blue, 25);
$color-dark-blue: darken($color-blue, 20);

$h1-font-sizes: (
  null : 22px,
  768px: 26px
);
$h2-font-sizes: (
  null: 20px,
  768px: 24px,
);
$bodyXS-font-sizes: (
  null: 14px,
  768px: 18px,
);
$bodyS-font-sizes: (
  null: 16px,
  768px: 20px,
);
$bodyM-font-sizes: (
  null: 18px,
  768px: 20px
);
$container-sizes: (
  null: 340px,
  768px: 430px
);