$color-dark: #0C0D0C;
$color-bright: #F6F8F6;
$color-muted: #868886;
$color-main: #6DCCE6;
$color-accent: #876DE6;
$color-error: #E66C51;
$color-success: #CCE66D;

$h1-font-sizes: (
  null : 24px,
  768px: 32px
);
$h2-font-sizes: (
  null: 20px,
  768px: 24px,

);
$bodyS-font-sizes: (
  null: 16px,
  768px: 18px,
);
$bodyM-font-sizes: (
  null: 18px,
  768px: 24px
);

