@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Source+Code+Pro&family=Montserrat+Alternates:wght@300&display=swap");
@import "./styles/variables";
@import "./styles/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Cutive Mono", monospace;
  height: 100vh;
}

.App {
  @include flexy();
  h2 {
    text-align: center;
    @include text-decoration($color-dark);
  }
}

.container {
  @include container-size($container-sizes);
  margin-top: 1rem;
  min-height: 40px;
  padding: 0.8rem;
  background: linear-gradient(
    -60deg,
    rgba($color-grey, 0.2),
    rgba($color-bright, 0.1)
  );
  backdrop-filter: blur(85px);
  -webkit-backdrop-filter: blur(85px);
  box-shadow: 1px 4px 10px rgba($color-dark-blue, 0.18);
  border-radius: 0.8rem;
}
