@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import "./styles/variables";
@import "./styles/mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Cutive Mono", monospace;
  background: linear-gradient(-45deg, $color-accent, $color-main);
  background-repeat: no-repeat;
  @include text-decoration(#535790);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
  }
}

.container {
  margin-top: 1rem;
  min-height: 50px;
  padding: .8em;
  background: linear-gradient(
    -60deg,
    rgba(151, 151, 151, 0.2),
    rgba(255, 230, 232, 0.1)
  );
  backdrop-filter: blur(85px);
  -webkit-backdrop-filter: blur(85px);
  box-shadow: 1px 4px 10px rgba(20, 20, 151, 0.18);
  border-radius: 0.8rem;
  @include container-size($container-sizes);
  &.main {
    min-height: 65vh;
    padding: 1.2rem;
  }
}
