@import './styles/mixins';
@import './styles/variables';

html, body, #root, #root>div {
  height: 100%; 
  width: 100%;
  margin: 0;
}

html {
  position: absolute;
  &::before {
    content: '';
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    background: linear-gradient(-45deg, $color-purple, $color-sky-blue) fixed;
    @include text-decoration(#535790);
    z-index: -1;
  }
}

p {
  @include font-size($bodyS-font-sizes);
};
h3 {
  @include font-size($bodyM-font-sizes);
};
h1 {
  @include font-size($h1-font-sizes);
};
h2 {
  @include font-size($h2-font-sizes);
};
button {
  cursor: pointer;
};
input {
  background: none;
  border: none;
  font-family: "Cutive Mono", monospace;
  @include text-decoration();
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  &::placeholder {
    font-family: "Cutive Mono", monospace;
  }
}