@import "../../styles/mixins";
@import "../../styles/variables";

button {
  font-family: "Cutive Mono", monospace;
  border: none;
  &:active,
  &:focus {
    outline: none;
  }
} 

.generateButton {
  // font-family: 'Source Code Pro', monospace;
  @include font-size($h1-font-sizes);
  @include text-decoration(
    rgba($color-bright, 0.8),
    rgba($color-dark-blue, 0.4)
  );
  width: 100%;
  max-width: 370px;
  padding: 10px 15px;
  border: 1px solid rgba($color-bright, 0.4);
  border-radius: 13px;
  background-color: rgba($color-muted, 0.75);
  @include create-gradient();
  transition: all 0.4s ease-out;
  &:hover {
    @include create-gradient();
    background-color: rgba($color-blue, 0.85);
    transform: scale(0.97);
  }
}

.copyButton {
  @include flexy($just: space-between, $dir: row);
  background: transparent;
  .copyIcon {
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px 1px 1px rgba($color-bright, 0.5));
    transition: all 0.2s;
    &:hover {
      transform: scale(0.95);
    }
    &:active {
      transform: scale(0.85);
    }
  }
}