@import '../../styles/mixins';
@import '../../styles/variables';

button {
  font-family: "Cutive Mono", monospace;
  border: none;
  &:active,
  &:focus {
    outline: none;
  }
}

.copyButton {
  @include flexy($just: space-between, $dir: row);
  background: transparent;
  .copyIcon {
    width: 25px;
    height: 25px;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 230, 0.5));
    transition: all .2s;
    &:hover {
      transform: scale(.95);
    }
    &:active {
      filter: saturate(2);
    }
  }
}

.createButton {
  @include font-size($bodyM-font-sizes);
  padding: 10px 15px;
  border-radius: 13px;
  background-color:rgba(231, 231, 222, 0.2);
}