@import '../../styles/variables';

.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.slider {
  width: 95%;
  height: 10px;
  appearance: none;
  background-color: rgba($color-muted, 0.65);
  background-image: linear-gradient(to right, rgba($color-purple, 0.55),  rgba($color-orange, 0.75));
  background-repeat: no-repeat;
  box-shadow: 1px 1px 2px rgba($color-light-blue, 0.4);
  border-radius: 5px;
  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgba($color-blue, .85);
    border-radius: 50%;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2)
    }
  }
}